.menu li a:hover {
  background-color: #c4b2ff;
}
.menu li > *:not(ul):not(.menu-title):not(details):active,
.menu li > *:not(ul):not(.menu-title):not(details).active,
.menu li > details > summary:active {
  background-color: #7b2af4;
  color: white;
}
